p
{
    background-color: yellowgreen;
    width: 50%;
    font-size: 30%;
    padding: 50px;
}

b
{
    background-color: aquamarine;
    width: 100px;
}

header
{
 background-color: aqua;
 height: 60px;
}

main
{
 background-color: blue;
 height: calc(100vh -60px -0px);
}

footer
{
background-color: blueviolet;
height: 60px;
}