<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">

</head>

<body>

    <header>

        <div class="container">
            <p>O melhor layout do Mundo</p>
        </div>

    </header>

    <main>

        <div class="container">

            <aside>
                menu lateral
            </aside>

            <section>

                <h1>Estruturando um layout em HTML e CSS</h1>

                <br>

                <h2>Meus Projetos</h2>

                <div class="project">

                    Projeto 1

                </div>

                <div class="project">

                    Projeto 2

                </div>

                <div class="project">

                    Projetos 3

                </div>

            </section>

        </div>

    </main>

    <footer>

        <div class="container">
            <p>Feito com Amor por Guilherme C Wernke</p>
        </div>

    </footer>

</body>
</html>